{% extends "base.html" %}
{% block content %}


{%load crispy_forms_tags %}
    <h2>Register</h2>
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
   
    <div class="text-align-center m-5 pd-5 gap-5">
         
        <form style="width: 700px; margin: auto;" method="post" class=" text-align-center m-5 pd-5 gap-5 bg-white shadow-md rounded px-6 pb-8 mb-4" style=" margin: auto;">
            {% comment %} {%for field in form.visible_fields%} {% endcomment %}
            {% csrf_token %}
            {{ form | crispy}}
            
        <button type="submit" class="btn btn-primary ml-5">Login</button>    
        </form>
        
    </div>
    

{% endblock %}
